<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/changePassword.css">
</head>
<body>
    <%- include('partials/navbar') %>
<div class="outer-container">
    <div class="container">
        <h1>Change Password</h1>


        

        <form action="/changePassword" method="POST">
            <!-- Old Password -->
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" required placeholder="Old Password"><br>
            <% if (typeof mssg1 !== 'undefined' && mssg1) { %>
                <p class="error"><%=mssg1%></p>
            <% } %>
            <div class="checkbox-label">
                <input type="checkbox" onclick="func()"> 
                <span>Show password</span>
            </div>

            <!-- New Password -->
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required placeholder="New Password"><br>
            <% if (typeof mssg2 !== 'undefined' && mssg2) { %>
                <p class="error"><%=mssg2%></p>
            <% } %>
            <div class="checkbox-label">
                <input type="checkbox" onclick="func2()"> 
                <span>Show password</span>
            </div>

            <!-- Confirm Password -->
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password"><br>
            <% if (typeof mssg2 !== 'undefined' && mssg2) { %>
                <p class="error"><%=mssg2%></p>
            <% } %>
            <div class="checkbox-label">
                <input type="checkbox" onclick="func3()"> 
                <span>Show password</span>
            </div>

            <!-- Change Password Button -->
            <button type="submit" class="change-password-btn">Change Password</button>
        </form>
    </div>
</div>
</body>
<script src="/Scripts/changePassword.js"></script>
</html>
