<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotPassword.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="outer-div">
      <div class="container">
        <h2>Forgot Password</h2>
        <p>Please enter your email to reset your password.</p>
        <% if (typeof message !== 'undefined') { %>
        <center>
          <p style="color: red"><%= message %></p>
          <p></p>
        </center>
        <% } %>
        <form action="/forgotPassword" method="POST">
          <div class="input-group">
            <label for="email">Enter your registered email:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your Email"
              required
            />
          </div>
          <button type="submit">Reset Password</button>
          <br /><br />
          <center>Back to <a href="/login">login</a></center>
        </form>
      </div>
    </div>
  </body>
</html>
