<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/resetPassword.css">
<body>
  <%- include('partials/navbar') %>
  <div class="outer-div">
    <div class="container">
        <h1>Reset Password</h1>

        <% if (typeof message !== 'undefined' && message) { %>
                <p style="color: red; text-align: center;"><%= message %></p>
        <% } %>

        <form action="/resetPassword" method="POST">
            <div class="form-group">
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="newPassword" required placeholder="New Password">
                <input type="checkbox" onclick="func()">Show password 
            <br>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm New Password:</label>
                <input type="password" id="confirm-password" name="confirmPassword" required placeholder="Confirm Password">
                <input type="checkbox" onclick="func2()">Show password 
            <br><br>
            </div>

            <button type="submit">Reset Password</button>
        </form>
    </div>
  </div>
</body>
<script>
    function func(){
   var passwordField = document.getElementById("new-password");
   if (passwordField.type === "password") {
     passwordField.type = "text";
   } else {
     passwordField.type = "password";
   }
    }
    function func2(){
   var passwordField = document.getElementById("confirm-password");
   if (passwordField.type === "password") {
     passwordField.type = "text";
   } else {
     passwordField.type = "password";
   }
    }
 </script>
</html>
